@import "../../less/abstract/_variables.less";

.spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        color: @base_color;;
    }
}